$color-bg: #fffff8;
$color-brand: #C8C8C8;
$color-hover: darken(#444,5%);
$color-text: #000;
$color-subtle: darken(#555,5%);
$color-faded: #e63b15;
$color-footer-bg: #F0E8E0;
$color-aside-bg: #f7eed1;
$color-verde: #BADA55;
$color-quote: #555;
$color-bbg: #0E1519;
$color-orange: #9C1E23;
