header {
  background-color: $color-bbg;
  min-height: 455px;
  margin: 0 auto;
  width: 100%;
  padding: prem(355px) 0 0 0;

  // <h1> logo
  & > h1 {
    font-size: prem(29px);
    line-height: prem(33px);
    margin: 0 0 prem(2px) 0;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    @include type-heading;

    @media only screen and (min-width: $break-medium) {
      margin-top: 0;
      text-align: center;
    }

    a, a:link, a:visited {
      color: #fdf5e2;
    }

    a:hover, a:focus, a:active {
      color: $color-subtle;
    }
  }

  // <h2> subheading
  & > h2 {
    color: $color-orange;
    margin-top: 0;
    text-align: center;
    @include type-italic;
    @include type-size-small;

    @media only screen and (min-width: $break-medium) {
      text-align: center;
    }

    // “by Paddy O’Hanlon”
    span {
      display: block;
    }

     a,  a:link {
      @include type-headlink;
      font-style: normal;
    }
  }
}
