footer .share {
    box-sizing: border-box;
    color: #fff;
    padding: 9px 34px 11px;
    border: 1px solid #313131;
    transition: border-color .1s ease-in-out;
    margin-right: 8px
}
footer .share:hover {
    border-color: #fff
}
footer .share.-right {
    margin-left: auto
}
@media (max-width: 640px) {
    footer .share {
        display: none
    }
}
@media (max-width: 424px) {
    footer .share {
        display: none
    }
}
@media (min-width: 425px) and (max-width: 1023px) {
    footer .share {
        padding: 5px 11px
    }
}
footer .icon-facebook,
footer .icon-github,
footer .icon-twitter {
    vertical-align: text-bottom;
    margin-right: 4px;
    fill: #eee;
}

/* SETTINGS PARA MANEJAR ICONOS SVG */

.Icon {
  /* Allows sizing by changing the icon’s font-size */
  width: 7em; height: 7em;
  /* Nice visual alignment for icons alongside text */
  vertical-align: -0.15em;
  /* Default path fill = value of the color property */
  fill: rgba(253,245,226,0.8);
  /* Paths and strokes that overflow the viewBox can show in IE.
     If you use normalize.css, it already sets this. */
  overflow: hidden;
  position:relative;
  margin-left: 27px;
}

.Icon--house, .Icon--compu, .Icon--tel {
  stroke: #C5E1A5;
  stroke-width: 2%;
  stroke-linejoin: round;
}
.Icon--neven, .Icon--play {
  stroke: darkslategray;
  stroke-width: 1%;
  stroke-linejoin: round;
  fill:none;
}

.Icon--content {
  stroke: #fffff8;
  stroke-width: 1%;
  stroke-linejoin: round;
  fill: darkslategray;
}

.Icon--content:hover {
  fill: #aaa;
}

.Icon--fer {
  stroke:  rgba(255, 255, 248, 0.1);
  stroke-width: 1%;
  stroke-linejoin: round;
}

a.icons {
  border-bottom: none !important;
  width: 28px;
  height: 14px;
  margin: 3px 0 0 -30px;
  padding: 0;
  clear: both;
}

/* Tooltip */

.tooltip {
  position: absolute;
}
.tooltip:hover .tip {
  opacity: 1;
  visibility: visible;
  margin-left: -20px;
  transition: all 0.35s;
}
.tip {
  opacity: 0;
  visibility: hidden;
  display: block;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  left: 100%;
  bottom: 50%;
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin-left: 0;
  margin-top: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: rgba(253,245,226,0.7);
  border-radius: 3px;
  color: #333;
  transition: all 0.35s;
}
.tip::before {
  content: '';
  border-style: solid;
  border-width: 0.5rem 0.625rem 0.5rem 0;
  border-color: transparent rgba(253,245,226,0.7) transparent transparent;
  position: absolute;
  right: 100%;
  bottom: calc(50% - 0.5rem);
  width: 0;
  height: 0;
}
