.typoo {padding: 60px 0 120px 0; color: #333; }
.typoo h2 { font: 34px/30px 'Vast Shadow', 'Arial Black'; color: #5e687d; width: 620px; margin: 0 auto; text-transform: uppercase; text-align: center; padding: 14px 0 13px 0; border-top: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; }
.typoo h2 span { font: 300 16px 'Oswald', Helvetica, Arial; margin: 0 5px 0 3px; color: #aaa; letter-spacing: .05em; }
.typoo p { width: 620px; color: #40485b; margin: 0 auto; }
.typoo .black-ital { font: italic 900 130px/90px 'Playfair Display', Georgia, serif; margin-bottom: 12px; display: block; }
.typoo .ital { font: italic 400 60px/60px 'Playfair Display', Georgia, serif; margin: 0 0 8px 6px; display: block; }
.typoo .small-cap { font: 400 18px/36px 'Playfair Display SC', Georgia, serif; letter-spacing: .17em; margin: 0 0 0 12px; text-transform: uppercase; display: block; }
.typoo .reg { font: 400 46px/40px 'Playfair Display', Georgia, serif; display: block; margin: 0 0 0 -10px; }
.typoo .bold-ital { font: italic 700 43px/56px 'Playfair Display', Georgia, serif; display: block; }
.typoo .bold { font: 400 23px/36px 'Playfair Display', Georgia, serif; display: block; margin-left: 8px; }
.typoo strong { text-transform: uppercase; font-weight: 900; letter-spacing: .15em; font-size: 18px; margin: 0 3px; }
.typoo .black { font: 900 39px/32px 'Playfair Display', Georgia, serif; margin-left: 4px; display: block; }

/* ---------------------- */
/* Device-specific styles */
/* ---------------------- */

/* Sub-tablet <768px */
@media (max-width: 768px) {

	.typoo .container_a { width: 100%; }
	.typoo .container_a .caption { width: 280px; margin-left: 40px; }
	.typoo h2, .typoo p { width: 320px; }
	.typoo h2 { font-size: 32px; text-align: center; }
	.typoo h2 span { display: block; }
	.typoo .black-ital { font-size: 120px; }
	.typoo .small-cap { font-size: 13px; line-height: 15px; margin: 0 auto 4px auto; }
	.typoo .reg { font-size: 42px; }
	.typoo .bold-ital	{ font-size: 60px; }
	.typoo .bold { line-height: 24px; margin: 4px auto; }
	.typoo .black { font-size: 42px; line-height: 40px; }
	
}