 <header >
      <div>
          <span class="head_logo wow fadeInDown">
          <a href="/" title="Icono azteca">
            <img src="/assets/abo.png" alt="Logo del sitio">
          </a>
          </span>
      </div>
      <h1>
        <a href="/" title="Fernando Mayorga" >
          {{ site.name }}
        </a>
      </h1>
      <h2>Mis notas sobre temas culturales en Scriptogr.am</h2> 
      <nav role="navigation">
      <ul>
      	<li class="evernote"><a class="evernote" href="http://blog.fernandomayorga.me">MICROBLOG</a></li>
      	<li><a class="scriptorium" href="http://m.fernandomayorga.me">SCRIPTOGR.AM</a></li>
      </ul>
      </nav>   
    </header>