 <header >
      <h1>
        <a href="/" title="Fernando Mayorga" >
          {{ site.name }}
        </a>
        <span class="head_logo wow fadeInDown">
          <a href="/" title="Dios maya del maíz">
            <img src="/assets/mayan.png" alt="Logo del sitio">
          </a>
        </span>
      </h1>
      <h2>Visita mi microblog, o mis notas sobre temas culturales en Scriptogr.am</h2> 
      <nav role="navigation">
      <ul>
      	<li class="evernote"><a class="evernote" href="http://m.fernandomayorga.me">SCRIPTOGR.AM</a></li>
      	<li><a class="scriptorium" href="http://blog.fernandomayorga.me">MICROBLOG</a></li>
      </ul>
      </nav>   
    </header>