 <header >
      <div>
          <span class="head_logo wow fadeInDown">
          <a href="/" title="Cerámica guancavilca">
            <img src="/assets/tute.png" alt="Logo del sitio">
          </a>
          </span>
      </div>
      <h1>
        <a href="/" title="Fernando Mayorga" >
          {{ site.name }}
        </a>
      </h1>
      <h2>Mis tips parar mejorar el uso de las TICs en Withdraft</h2> 
      <nav role="navigation">
      <ul>
      	<li class="evernote"><a class="evernote" href="http://blog.fernandomayorga.me">MICROBLOG</a></li>
      	<li><a class="scriptorium" href="http://fernanz.withdraft.com">WITHDRAFT</a></li>
      </ul>
      </nav>   
    </header>
