 <header >
   <div>
     <span class="head_logo_fer">
       <a href="/" class="tooltip"><svg width="250" height="250" class="Icon Icon--fer" aria-hidden="true">
           <use xlink:href="/assets/icn.svg#ferlog"></use>
     </svg><span class="tip">INICIO</span></a>
     </span>
   </div>
      <h1>
        <a href="/" title="Fernando Mayorga" style="text-transform: uppercase;">
          {{ site.name }}
        </a>
        <span class="head_logo wow fadeInDown">
          <a href="/" title="Dios maya del maíz">
            <img src="/assets/mayan.png" alt="Logo del sitio">
          </a>
        </span>
      </h1>
      <h2>A pie, recorriendo los límites del tiempo...</h2>
    </header>
