   {% include head.html %}
  <body>
   {% include mayan_header.html %}
    <div class="wrapper">
      {{ content }}
    </div>
    {% include indexado.html %}
     <section class="bannerB clearfix">
        <h1>Something else...</h1>
        <div class="flu">
        <div>
        	<h1 class="button">
        	<a href="/diogenes.html">Citando a Diógenes</a></h1>
        </div>	
        <div>
        	<h1 class="button">
        	<a href="/keller.html">Mi historia H. K.</a></h1>
        </div>
        <div>
        	<h1 class="button">
        	<a href="/1982.html">1982</a></h1>
        </div>	
        </div>
    </section>
    {% include footer.html %}
  </body>
</html>
